{% extends "_includes/default.njk" %}

{% block title %}The community project{% endblock %}

{% block content %}
  <div class="fixed inset-0 flex justify-center items-center">
    <div>
      <span>The Community Project</span><br/>
      <span>For more info ask <a href="http://www.twitter.com/apricot_13">@apricot_13</a></span>
    </div>
  </div>
{% endblock %}